.contact-section{
    display: flex;
    justify-content: center;
    margin: 5vh 0px;
}
.contact{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    min-width: 60vw;
}
.contact-grid{
    display: grid;
    grid-template-columns: 1fr; 
}
.contact-grid-col-1{
    display: flex;
    flex-direction: column;
}
.contact-input{
    min-width: 100%;
}
.contact-input>input,.contact-input>input{
    min-width: 50%;
    max-width: 50%;
    border: none;
    outline: none;
}